# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Anochecer sobre el Mediterráneo - Martes a las 22:00
author: Diego Collado y Pablo Benayas del Río
email: radio@anochecer.net
description: >- # this means to ignore newlines until "baseurl:"
  Espacio radiofónico dedicado a la literatura universal. Cada martes a las 22:00, hora española, en anochecer.net, 107.1 FM de Barcelona y en iVoox.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://anochecer.net" # the base hostname & protocol for your site, e.g. http://example.com
lang: es_ES
subtitle: Espacio radiofónico dedicado a la literatura universal.

collections:
  category:
    output: true
# Build settings
markdown: kramdown
plugins:
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-sitemap

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
