<footer class="site-footer">

  <div class="wrapper">
    <div class="social-links">
      
      <a class="social-link social-twitter" href="mailto:radio@anochecer.net">
        <i class="icon-mail"></i>
      </a>
	  <a class="social-link social-rss" href="{{ "https://anochecer.net/index.xml" | relative_url  }}" target="_blank">
<i class="icon-rss"></i>
</a>
<a class="social-link social-twitter" href="https://open.spotify.com/show/2wNf8pLzuHbjQ68Z1LGxZH?si=O6_qNkpAQGyBPSxxoGIH3Q">
<i class="icon-spotify"></i>
</a>
<a class="social-link social-twitter" href="https://anochecer.net">
<i class="icon-itunes"></i>
</a>
	  <a class="social-link social-twitter" href="https://www.ivoox.com/podcast-anochecer-sobre-el-mediterraneo_sq_f1883108_1.html">
        <i class="icon-podcast"></i>
      </a>
    </div>
    <div class="credits">
      Anochecer sobre el Mediterráneo, desde Barcelona. 
    </div>
  </div>

</footer>
