---
layout: default
---

{% include site-nav.html %}

{% include header.html %}


<div class="suscripcion" style="text-align:center;margin: auto;width: 50%">
<a class="social-link social-rss" style="border-bottom: none;" href="{{ "https://anochecer.net/index.xml" | relative_url  }}" target="_blank">
<i class="icon-rss"></i>
</a>
<a class="social-link social-spotify" style="border-bottom: none;" href="https://open.spotify.com/show/2wNf8pLzuHbjQ68Z1LGxZH?si=O6_qNkpAQGyBPSxxoGIH3Q">
<i class="icon-spotify"></i>
</a>
<a class="social-link social-itunes" style="border-bottom: none;" href="https://podcasts.apple.com/es/podcast/anochecer-sobre-el-mediterr%C3%A1neo/id1514429925">
<i class="icon-itunes"></i>
</a>
<a class="social-link social-ivoox" style="border-bottom: none;" href="https://www.ivoox.com/podcast-anochecer-sobre-el-mediterraneo_sq_f1883108_1.html">
<i class="icon-podcast"></i>
</a>
</div>

<ul class="post-list">
  {% for rule in page.filter %}
  {% assign posts = site.posts %}
  {% if rule.by_tag %}
  {% assign posts = posts | where_exp: "post", "post.tags contains rule.by_tag" %}
  {% endif %}
  {% if rule.by_category %}
  {% assign posts = posts | where_exp: "post", "post.category == rule.by_category" %}
  {% endif %}
  {% if rule.by_expression %}
  {% assign posts = posts | where_exp: "post", rule.by_expression %}
  {% endif %}
  {% for post in posts %}
  {% assign posts = posts | append: " " | append: post.path %}
  {% endfor %}
  {% endfor %}
  {% if posts %}
  {% assign posts = posts | split: " " | sort | uniq %}
  {% assign posts = site.posts | where_exp: "post", "posts contains post.path" %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}
  {% for post in posts %}
  <li class="post-list-item" data-tags="{{ post.tags | join: " " }}">
    <a class="post-item-link" href="{{ post.url | relative_url }}" data-date="{{ post.date | date: "%m-%d"  }}">
      {{ post.title | escape }}
    </a>
    <div class="post-item-meta">
       {% assign m = post.date | date: "%-m" %}
	{{ post.date | date: "%-d" }}
		{% case m %}
  {% when '1' %}Enero
  {% when '2' %}Febrero
  {% when '3' %}Marzo
  {% when '4' %}Abril
  {% when '5' %}Mayo
  {% when '6' %}Junio
  {% when '7' %}Julio
  {% when '8' %}Agosto
  {% when '9' %}Septiembre
  {% when '10' %}Octubre
  {% when '11' %}Noviembre
  {% when '12' %}Diciembre
{% endcase %}
{{ post.date | date: "%Y" }}
    </div>
  </li>
  {% endfor %}
</ul>
