---
layout: default
---

<article class="post" lang="{{ page.lang | default: site.lang | default: "en" }}" itemscope itemtype="http://schema.org/BlogPosting" >

{% include site-nav.html %}
  {% include header.html %}
    <div class="post-content" itemprop="articleBody">     
    <p class="post-meta">Hoy participan {{ page.voices }}</p>
    
	<img src="{{ page.image }}" alt="{{ page.imgdesc }}">
	<br>
    <audio controls>
        <source src="{{ page.file }}" type="audio/mp3">
    </audio>
    <a href="{{ site.baseurl }}{{ page.file }}" class="button u-full-height" download="{{ page.title }}.mp3">Descarga el episodio</a>

<div>
    {{ content }}
    
</div>
  </div>

    
</article>
