---
layout: default
---

<article class="post" >

{% include site-nav.html %}
  {% include header.html %}
    <div class="post-content" itemprop="articleBody">     
    <p class="post-meta">Hoy participan {{ page.voices }}</p>
    
    <div class="container center-content">
    <div class="seven columns">
	<img src="{{ page.image }}" alt="{{ page.imgdesc }}">
	<br>
    <audio controls>
        <source src="{{ page.file }}" type="audio/mp3">
    </audio>
    </div>
    <div class="four columns center-content">
    <a href="{{ site.baseurl }}{{ page.file }}" class="button u-full-height" download="{{ page.title }}">Descarga el episodio</a>
    </div>
        </div>
<div>
    {{ content }}
    
</div>
  </div>

    
</article>

<script src="/assets/js/plyr.js"></script>
<script>plyr.setup();</script>